{% extends "base.html" %}
{% block content %}

<img src="{{ url_for('static', filename='images/bubbles-four.png') }}" class="about-bubble" style="top: 20%; left: 5%; width: 200px;">
<img src="{{ url_for('static', filename='images/bubbles-four.png') }}" class="about-bubble" style="top: 40%; right: 5%; width: 200px;">
<img src="{{ url_for('static', filename='images/bubbles-four.png') }}" class="about-bubble" style="top: 30%; right: 20%; width: 50px;">
<img src="{{ url_for('static', filename='images/bubbles-four.png') }}" class="about-bubble" style="bottom: 5%; left: 3%; width: 100px;">
<img src="{{ url_for('static', filename='images/bubbles-two.png') }}" class="about-bubble" style="top: 30%; right: 30%; width: 100px;">
<img src="{{ url_for('static', filename='images/bubbles-four.png') }}" class="about-bubble" style="top: 35%; left: 23%; width: 150px;">
<img src="{{ url_for('static', filename='images/bubbles-four.png') }}" class="about-bubble" style="bottom: -40%; right: 5%; width: 200px;">

<div class="about-section">
    <h4 class="subtitle">About ApexShine Cleaning</h4>
    <h2 class="main-heading">Most Trusted Cleaning<br>Service In The GTA</h2>

    <p class="about-description">
        Welcome to ApexShine Cleaning, your premier destination for exceptional residential cleaning services in the Greater Toronto Area. 
        With a wealth of experience in the industry, we have established ourselves as a trusted name, 
        dedicated to delivering unparalleled cleaning solutions that exceed expectations.
    </p>

    <div class="features-box">
        <div class="features-column">
            <div class="feature-item">
                <span class="check-icon">✔</span> Fully Bonded & Insured
            </div>
            <div class="feature-item">
                <span class="check-icon">✔</span> Professional Team
            </div>
            <div class="feature-item">
                <span class="check-icon">✔</span> No Hidden Fees
            </div>
            <div class="feature-item">
                <span class="check-icon">✔</span> Locally Owned & Operated
            </div>
            <div class="feature-item">
                <span class="check-icon">✔</span> Background Checked Staff
            </div>
        </div>

        <div class="features-column">
            <div class="feature-item">
                <span class="check-icon">✔</span> Flexible Scheduling
            </div>
            <div class="feature-item">
                <span class="check-icon">✔</span> 100% Satisfaction Guaranteed
            </div>
            <div class="feature-item">
                <span class="check-icon">✔</span> Reliable Service
            </div>
            <div class="feature-item">
                <span class="check-icon">✔</span> Supplies & Equipment Included
{% endblock %}